/* customStyles.css */
.leaflet-control-geosearch .geosearch-bar input {
	background-color: #f0f0f0; /* Custom background color */
	border: 2px solid #10e317; /* Custom border color */
	padding: 10px; /* Custom padding */
	border-radius: 4px; /* Rounded corners */
	font-size: 16px; /* Larger font size */
}

.leaflet-control-geosearch .geosearch-bar input::placeholder {
	color: #777; /* Custom placeholder text color */
	font-size: 14px; /* Custom placeholder text size */
}

.leaflet-control-geosearch .geosearch-bar {
	background-color: #d61313; /* Background of the search bar */
	padding: 5px;
	border-radius: 5px; /* Rounded corners around the bar */
}

.leaflet-control-geosearch .geosearch-icon {
	color: #4caf50; /* Custom color for the search icon */
	font-size: 40px; /* Larger icon */
}
